body {
  background-color: grey;
  margin: 3px;
  font-family: "Montserrat", sans-serif;
}

.main {
  /* background-color: grey; */
  color: white;
}
.Wrapper_div_Extension {
  width: 240px;
  /* height: 352px; */
  box-sizing: border-box;
  padding: 10px 0;
  /* background-color: #707070; */
  background-color: #110e0e;
  border-radius: 6px;
}
.logo_wrapper_system_x p {
  /* font-size: 1.25rem; */
  font-size: 15px;
  font-weight: 300;
  width: max-content;
  margin: 18px auto 0 auto;
  color: #fff;
}

.logo_div {
  justify-content: space-between;
  display: flex;
  padding: 5px;
  /* margin: auto; */
  /* max-width: 240px; */
  /* margin-bottom: 20px; */
  /* margin-top: 20px; */
}
.logo_wrapper_system_x img {
  width: 60%;
  /* margin: 0; */
}
.Plex_links {
  width: max-content;
  margin: auto;
  /* visibility: hidden; */
  display: none;
}
.plex_btn:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  cursor: pointer;
}
.plex_btn {
  width: 230px;
  margin: 3px 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input_area_token {
  /* margin: 0 auto; */
  /* width: max-content; */
  text-align: center;
  /* margin: 10px 0 0 32px; */
}

.input_area_token input {
  height: 24px;
  /* height: 100px; */
  /* width: 230px; */
  border-radius: 5px;
  /* outline: none; */
  border: none;
}
.CheckboxContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-align: end;
  margin-right: 10px; */
}

.CheckboxContainer p {
  margin-left: 10px;
}

.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: red;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

.toggle:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.toggle:checked::before {
  transform: translateX(100%);
  background: #fff;
}

.toggle:checked {
  background: #00ed64;
}
.buttons {
  text-align: center;
}

.buttons .save {
  display: inline-block;
  height: 25px;
  margin-top: 20px;
  background-color: #199d43;
  color: white;
  border-radius: 5px;
  /* margin-right:-30px ; */
  border: none;
  width: 60px;
}
.buttons #quicktoolimg {
  width: 20px;
  height: 20px;
}
.buttons .quicktool {
  display: inline-block;
  float: right;
  background: none;
  border: none;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.quicktool {
  position: relative;
}

.quicktool:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  /* top: 100%; */
  left: 50%;
  transform: translateX(-50%);
  /* padding: 8px;
  background-color: #000; */
  color: #fff;
  font-size: 10px;
  border-radius: 4px;
  z-index: 1;
  font-weight: 600;
}
[data-position="bottom"] span {
  top: auto;
  bottom: 40px;
}

.buttons .settings {
  display: inline-block;
  float: left;
  background: none;
  border: none;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.settings:hover {
  color: rgba(16, 206, 249, 1);
}

#isverify {
  margin-bottom: 0;
}

#main_control_panel {
  display: none;
}

.p-tag {
  color: white;
  font-size: 9px;
  background-color: black;
  border: none;
  cursor: pointer;
}

.p-tag:hover {
  color: rgba(16, 206, 249, 1);
}

.panel-tag {
  color: white;
  font-size: 9px;
  background-color: black;
  border: none;
  cursor: pointer;
}

.panel-tag:hover {
  color: rgba(16, 206, 249, 1);
}
.h3-tag {
  color: white;
}

.record_check {
  color: white;
  display: flex;
  margin-left: 15px;
}

.record_check2 {
  display: flex;
  margin-top: 10px;
}

#myCheckbox {
  color: white;
}

.percentRate {
  top: -8px;
  position: relative;
}

.production_container {
  width: 185px;
  height: auto;
  padding: 10px;
  /* height: 143px; */
  border-radius: 5px;
  display: none;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
}

.i-div {
  /* background-color: rgba(161, 161, 161, 1); */
  width: 42px;
  height: 20px;
  gap: 20px;
  border-radius: 5px;
  border: 0.2px solid rgba(59, 63, 68, 1);
}

.main_control_panel {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: black;
  /* height: 261px; */
  border-radius: 6px;
  /* margin-bottom: 30px; */
}

.navigate_panel {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}
.nav-tags {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.h3-tag {
  font-size: 12px;
  text-align: center;
  margin: 10px 0 10px 0;
}

.inner_container {
  font-weight: 500;
}

.button_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0 5px 0;
}

.save_btn {
  width: 67px;
  height: 25px;
  border-radius: 4px;
  gap: 10px;
  color: #157c36;
  background-color: white;
}

.save_btn:hover {
  background-color: #a3d8b4;
}

.cancle_btn {
  width: 70px;
  height: 25px;
  /* padding: 3px 10px 3px 10px */
  border-radius: 4px;
  background-color: white;
  color: #d33d28;
  align-items: center;
  display: flex;
}

.cancle_btn:hover {
  background-color: #edb1a9;
}

.c-box {
  width: 15px;
  height: 15px;
  margin: 0 0px 10px 10px !important;
  /* background-color: rgba(0,0,0,0); */

  border: 1px rgba(170, 180, 188, 1) solid;
}

/* Define a custom class for styling the checkbox */
.c-box:checked {
  content: "";
  display: inline-block;
  color: white;
  width: 15px;
  height: 15px;
  background-color: rgba(29, 201, 160, 1);
  border-radius: 2px; /* Makes it look like a filled box
  margin-right: 5px; /* Add some space between the checkbox and label */
  content: "✔";
}

.c-box:checked:after {
  background-color: rgba(29, 201, 160, 1);
}

.nine {
  font-size: 10px;
  font-weight: 400;
}

.circle {
  font-size: 9px;
}

.cp-div {
  display: none;
  flex-direction: column;
}

.maintenance_screen {
  display: none;
}

.pin-div {
  display: none;
  background-color: #110e0e;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.pin-container {
  /* margin-left: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.pin-input {
  border-radius: 30px;
  height: 59px;
  width: 40px;
  /* margin-top: 40px; */
  text-align: center;
}

#submitBtn {
  display: inline-block;
  height: 25px;
  /* margin-top: 20px; */
  background-color: #199d43;
  color: white;
  border-radius: 5px;
  /* margin-left: 90px; */
  margin-left: 36%;
  /* margin-bottom: 20px; */
  border: none;
  /* margin-right:-30px ; */
  /* border:2px solid #fa8178   */
}

/* input::-webkit-outer-spin-button,input::-webkit-inner-spin-button
 {  -webkit-appearance: none;  margin: 0;} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#authMessage {
  color: #fff;
  padding: 10px;
  /* position: absolute; 
   top: 10px;
  right: 20px;  */
  text-align: center;
}

#authMessage1 {
  display: none;
  padding: 10px;
  text-align: center;
}
